<form [formGroup]="registerForm" (ngSubmit)="Register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <label class="control-label" style="margin-right: 10px;">I am a: </label>
    <label class="radio-inline">
      <input type="radio" class="mr-3" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input type="radio" class="mr-3" value="female" formControlName="gender">Female
    </label>
  </div>

  <div class="form-group">
    <input type="text"
    [ngClass]="{'is-invalid' : registerForm.get('username').errors && registerForm.get('username').touched}"
     class="form-control" formControlName="username" placeholder="username">
     <div class="invalid-feedback">
       Username is required
     </div>
  </div>

  <div class="form-group">
    <input type="text"
    [ngClass]="{'is-invalid' : registerForm.get('knownAs').errors && registerForm.get('knownAs').touched}"
     class="form-control" formControlName="knownAs" placeholder="Known As">
     <div class="invalid-feedback">
       Known As is required
     </div>
  </div>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid' : registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}"
     class="form-control" bsDatepicker [bsConfig]="bsConfig" formControlName="dateOfBirth" placeholder="Date Of Birth">
     <div class="invalid-feedback">
       DOB is required
     </div>
  </div>

  <div class="form-group">
    <input type="text"
    [ngClass]="{'is-invalid' : registerForm.get('city').errors && registerForm.get('city').touched}"
     class="form-control" formControlName="city" placeholder="City">
     <div class="invalid-feedback">
       city is required
     </div>
  </div>

  <div class="form-group">
    <input type="text"
    [ngClass]="{'is-invalid' : registerForm.get('country').errors && registerForm.get('country').touched}"
     class="form-control" formControlName="country" placeholder="Country">
     <div class="invalid-feedback">
       Country is required
     </div>
  </div>

  <!-- <div class="form-group">
    <label for="favouriteValue">What is your favourite value?</label>
    <select class="form-control" id="favouriteValue">
      <option *ngFor="let value of valuesFromHome" [value]="value">{{value.name}}</option>
    </select>
  </div> -->

  <div class="form-group">
    <input
    [ngClass]="{'is-invalid' : registerForm.get('password').errors && registerForm.get('password').touched}"
    type="password" class="form-control" formControlName="password" placeholder="Password">
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required')">
      password is required
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength')">
      password should conatin minimum of 4 characters 
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength')">
      password cannot exceed 8 characters
    </div>
  </div>


  <div class="form-group">
    <input
    [ngClass]="{'is-invalid' : registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched
  || registerForm.getError('mismatch') && registerForm.get('confirmPassword').touched}"
    type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required')">
      password is required
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.getError('mismatch')">
      passwords must match
    </div>
  </div>

  <!-- <div class="form-group">
    <input
    [ngClass]="{'is-invalid' : registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched
    || registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched}"
    type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
    <div class="invalid-feedback" 
    *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
      password is required
    </div>
    <div class="invalid-feedback" 
    *ngIf="registerForm.get('mismatch').errors && registerForm.get('confirmPassword').touched">
      passwords must match
    </div>
  </div> -->

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>

